<ng-template #popOverContent>
  some content
</ng-template>

<ng-template #popOverContent1>
  new content
</ng-template>
<button appPopover [popover]="popOverContent" title="Hello" position="right">Hover me
</button>

<button appPopover [popover]="popOverContent1" title="Hello" position="right">Hover me
</button>
<button appPopover [popover]="popOverContent" title="Hello" position="right">Hover me
</button>
<button appPopover [popover]="popOverContent" title="Hello" position="right">Hover me
</button>
